.box-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 140px;
  width: 100%;
  padding-bottom: 10px;
  color: #3300A1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr 100px 1fr;
  align-items: center;
  height: 40vh;
  box-sizing: border-box;
  gap: 20px;
}

.container textarea {
  height: 100%;
  box-sizing: border-box;
  background: #c6ecff;
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-family: monospace;
  transition: background 0.25s, color 0.25s;
}

.container textarea:hover,
.container textarea:focus {
  background: #d4f1ff;
}

.controls__button {
  padding: 8px 14px;
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #0076dd;
  color: #ffffff;
  font-weight: bold;
}

.controls__button:active {
  background: #005299;
}

.controls__button--layout {
  background: #dd2c00;
}

.controls__button--layout:active {
  background: #921d00;
}

.controls__button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}