#myOverviewDiv {
  position: absolute;
  width: 18.9vw;
  height: 18vh;
  top: 71.3vh;
  right: 10px;
  background-color: #f2f2f2;
  z-index: 300; /* make sure its in front */
  border: solid 1px #7986cb;
}